<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Preguntas</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
<div id="page-wrap">
  <header class="main" id="h1">
    <h2>Quiz: el juego de ls preguntas</h2>
  </header>

  <nav class="main" id="n1" role="navigation">
    <spam><a href="/">Inicio</a></spam>
    <spam><a href="/quizes/question">Preguntas</a></spam>
    <spam><a href="/quizes/about">Sobre mi</a></spam>
  </nav>

  <section class="main" id="s1">
    <%- body %>
  </section>

  <footer class="main" id="f1">
    <a href="http://es.wikipedia.org/wiki/quiz">
    ¿Qué es Quiz?</a> </br>

    <a href="https://github.com/jarolalla/quiz">
    Mi Proyecto<o/a>

  </footer>

</div>
</body>
</html>
